div {
  padding: 10px;
}
span {
  margin: 0 10px 0 2px;
}
p {
  display: inline-block;
  font-style: italic;
  margin: 0 0 5px;
}

/*
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://github.com/ngrx/platform
*/