@use 'src/assets/styles/variables.scss' as vars;

.frame,
.frame-ball {
    border: 1px solid yellow;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: vars.$frame-width;
    text-align: center;
    align-items: stretch;

    &-rolls {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    &-score {
        padding: vars.$gap;
    }

    &-ball {
        padding: 1px;
        width: 15px;
        text-align: center;
    }
}