@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/material";

.row {
  & > app-scorecard {
    display: flex;
    gap: $gap;
  }
}

.button--full-width {
  width: 100%;
}
