@if(books.length > 0) {
@for(book of books; track book.id) {
<div class="book"
     [ngClass]="{'book-highlight': book.id === hoverBookId}">
   <div class="book-list-item">
      <app-book-item [book]="book"></app-book-item>
   </div>
   <div class="book-action"
        (mouseenter)="onMouseEnter(book.id)"
        (mouseout)="onMouseOut()">
      <button mat-icon-button
              [color]="buttonColor"
              (click)="bookClick.emit(book.id)">
         <mat-icon>{{icon}}</mat-icon></button>
   </div>
</div>
}
}
@else {
<app-empty-data dataName='books'></app-empty-data>
}