<div class="dialog">
   @if(dialogOptions.title) {
   <app-title>{{dialogOptions.title}}</app-title>
   }

   <div class="dialog-content">
      <ng-content></ng-content>
   </div>

   <div class="dialog-actions">
      @if(dialogOptions.cancelButton) {
      <button mat-button
              (click)="onClick(dialogOptions.cancelButton)">{{dialogOptions.cancelButton.text}}</button>
      }
      @if(dialogOptions.okButton) {
      <button mat-button
              (click)="onClick(dialogOptions.okButton)">{{dialogOptions.okButton.text}}</button>
      }
   </div>
</div>