@import 'src/assets/styles/variables.scss';

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

    &-keypad {
        display: flex;
        flex-direction: row;
    }

    &-entered {
        border: 1px solid $color--blue;
        padding: $gap;
        margin-bottom: $gap;
        text-align: right;
        font-size: 24px;
    }
}

.function-container {
    width: 100px;
}

.keypad-container {
    width: 400px;
}