<div class="alley">
   <app-title>Welcome to Virtual Lanes</app-title>
   <div class="status">
      <p>Status: </p>
      <mat-slide-toggle [(ngModel)]="isChecked"
                        (toggleChange)="toggleStatus()"></mat-slide-toggle>{{status()}}
   </div>

   <div class="add-player">
      <app-add-player [ratings]="ratings()"
                      (addPlayer)="addPlayer($event)"
                      (clear)="newGame()"
                      (newGame)="playGame()"></app-add-player>
   </div>
   <div>
      <app-game [game]="game()"
                [ratings]="ratings()"
                [players]="players()"
                [disablePlayGame]="players()!.length === 0"
                (removePlayer)="removePlayer($event)"
                (newGame)="newGame()"
                (playGame)="playGame()"
                (changeAllPlayersRatings)="changePlayerRatings()"></app-game>
   </div>
</div>