@import 'src/assets/styles/variables';

.add-player {
    display: flex;
    gap: $gap;
    align-items: center;
    margin-bottom: $gap;
}

.alley {
    display: flex;
    gap: $gap;
    flex-direction: column;
}