@use 'src/assets/styles/variables' as vars;

.add-player {
   display: flex;
   gap: vars.$gap;
   align-items: center;
   margin-bottom: vars.$gap;
}

.alley {
   display: flex;
   gap: vars.$gap;
   flex-direction: column;
}

.status {
   display: flex;
   gap: vars.$gap;
   align-items: center;
}