<h1>Oliver Sacks Books Collection</h1>
<div class="main">
  <div class="main-column">
    <h2>Available Books</h2>
    <app-book-list class="book-list"
                   [books]="books$ | async"
                   (add)="onAdd($event)"></app-book-list>
  </div>
  <div class="main-divider">&nbsp;</div>
  <div class="main-column">
    <h2>My Collection</h2>
    <app-book-collection class="book-collection"
                         [books]="bookCollection$ | async"
                         (remove)="onRemove($event)">
    </app-book-collection>
  </div>
</div>