@use 'src/assets/styles/variables' as vars;

.game {
    display: flex;
    gap: vars.$gap;
    align-items: center;
    justify-content: space-between;

    &-controls {
        display: flex;
        gap: vars.$gap;
        align-items: center;
    }
}

.players {
    display: flex;
    align-items: center;
}