<section>
   <div>
      @if(players.length > 0) {
      <div class="game">
         <div class="players">
            @for(player of players; track player.name) {
            <app-player [player]="player"
                        [rating]="(getRating(player.rating))"
                        (removePlayer)="removePlayer.emit($event)"></app-player>
            }
            <div>
               <button mat-raised-button
                       color="accent"
                       (click)="changeAllPlayersRatings.emit()">
                  <mat-label>Change Ratings</mat-label>
               </button>
            </div>
         </div>
         <div class="game-controls">
            <button mat-raised-button
                    color="primary"
                    (click)="playGame.emit()"
                    [disabled]="disablePlayGame">
               <mat-icon>play_arrow</mat-icon>
               Play Game
            </button>
            <button mat-stroked-button
                    color="accent"
                    (click)="newGame.emit()"
                    [disabled]="newGameDisabled">
               <mat-icon>clear</mat-icon>
               <mat-label>New Game</mat-label>
            </button>
         </div>
      </div>
      }

      @if(game && game.completed) {
      <h1>Winner: {{game.winner?.name}} with a score of {{game.winner?.score}}</h1>
      @for(bowler of game.bowlers; track bowler.number){
      <div class="bowlers">
         <app-scorecard [bowler]="bowler"></app-scorecard>
      </div>
      }
      }
   </div>
</section>