<section>
   <div>
      @if(players.length > 0) {
      <div class="game">
         <div class="players">
            <div *ngFor="let player of players">
               <app-player [player]="player"
                           [rating]="(getRating(player.rating))"
                           (removePlayer)="removePlayer.emit($event)"></app-player>
            </div>
            <div>
               <button mat-raised-button
                       color="accent"
                       (click)="changeAllPlayersRatings.emit()">
                  <label>Change Ratings</label>
               </button>
            </div>
         </div>
         <div class="game-controls">
            <button mat-raised-button
                    color="primary"
                    (click)="playGame.emit()"
                    [disabled]="disablePlayGame">
               <mat-icon>play_arrow</mat-icon>
               Play Game
            </button>
            <button mat-stroked-button
                    color="accent"
                    (click)="newGame.emit()"
                    [disabled]="newGameDisabled">
               <mat-icon>clear</mat-icon>
               <mat-label>New Game</mat-label>
            </button>
         </div>
      </div>
      }
      @if(game && game.completed) {
      <h1>Winner: {{game.winner?.name}} with a score of {{game.winner?.score}}</h1>
      <div *ngFor="let bowler of game.bowlers"
           class="bowlers">
         <app-scorecard [bowler]="bowler"></app-scorecard>
      </div>
      }
   </div>
</section>