@use "sass:color";
@use "src/assets/styles/variables" as vars;

$max-width: 1440px;
$bottom: 64px;

.menu {
   position: absolute;
   left: 0;
   right: 0;
   height: 64px;
   display: flex;
   gap: vars.$gap * 0.5;
   background-color: vars.$color--dark;
}

.content {
   position: absolute;
   top: 64px;
   right: 0;
   left: 0;
   bottom: $bottom;
   padding: vars.$gap * 2;
   background-color: color.adjust(vars.$color--dark, $lightness: 10%);
   display: flex;
   flex-direction: column;
   gap: vars.$gap;
   align-items: stretch;
   overflow: auto;
}

.footer {
   position: absolute;
   bottom: 0;
   display: flex;
   align-items: center;
   height: $bottom;
}

@media screen and (min-width: $max-width) {

   .content,
   .menu,
   .footer {
      $margin: calc(calc(100vw - $max-width) * 0.5);
      margin-left: $margin;
      margin-right: $margin;
   }
}