<div class="generator">
   <div class="generator-row">
      <app-fact-categories (categorySelected)="categorySelected($event)"></app-fact-categories>
      <div class="buttons">
         <button mat-flat-button
                 color="primary"
                 (click)="getFactForCategory()">Get Fact</button>
         <button mat-flat-button
                 color="accent"
                 (click)="getFavoriteFact()">From My Favorites</button>
         <button mat-button
                 color="primary"
                 (click)="getAllFavoriteFacts()">Get All Favorites Fact</button>
      </div>
   </div>
   <div class="generator-column">
      @if(favoriteFacts().length === 0) {
      <app-title2>FACT</app-title2>
      @if(fact()) {
      <app-fact [fact]="fact()!"></app-fact>
      }
      @else {
      @if(!selectedCategory()) {
      <p>Please select a catetory or get kicked in the head by Chuck Norris!</p>
      <p>He knows where you live!</p>
      <p>Or select "Get All Favorites" to see my favorites.</p>
      }
      @else {
      Now select "Get Fact" or "From Favorites" to see an awesome fact about Chuck Norris!
      }
      }
      }
      @else {
      @for(fact of favoriteFacts(); track fact.id) {
      <app-fact [fact]="fact"></app-fact>
      }
      }
   </div>
</div>