@use "src/assets/styles/variables" as vars;

.generator {
  display: flex;
  flex-direction: column;
  gap: vars.$gap;

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    gap: vars.$gap;
    align-items: center;
  }
}

.buttons {
  display: flex;
  gap: vars.$gap;
}