<div class="alley">
    <h2>Welcome to Virtual Lanes</h2>

    <div class="add-player">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Player</mat-label>
            <input matInput
                   placeholder="Bowler Full Name"
                   (keypress)="keypressed($event)"
                   [(ngModel)]="playerName" />
        </mat-form-field>
        <button mat-raised-button
                color="accent"
                (click)="addPlayer()">
            <mat-icon>add</mat-icon>
            <label>Add Player</label>
        </button>
    </div>

    <div class="game">
        <div class="players">
            <div *ngFor="let player of players$ | async">
                <app-player [player]="player"
                            [score]="(getScore$(player.name) | async)!"
                            (removePlayer)="removePlayer($event)"></app-player>
            </div>
        </div>
        <div class="game-controls">
            <button mat-raised-button
                    color="primary"
                    (click)="playGame()"
                    [disabled]="(players$ | async)!.length < 1">
                <mat-icon>play_arrow</mat-icon>
                <label>Play Game</label>
            </button>
            <button mat-stroked-button
                    color="accent"
                    (click)="newGame()"
                    [disabled]="(game$ | async)!.winner!.score === 0">
                <mat-icon>clear</mat-icon>
                <label>New Game</label>
            </button>
        </div>
    </div>
    <div *ngIf="(getWinner$() | async)!.score > 0">
        <h1>Winner: {{(game$ | async)!.winner.name}}</h1>
        <div *ngFor="let bowler of (game$ | async)!.bowlers"
             class="bowlers">
            <app-bowler [bowler]="bowler"></app-bowler>
        </div>
    </div>
</div>