<app-title2>
    Welcome to my Angular project.
</app-title2>
<p>
    Hello and welcome to a fun little project which grows with each new Angular functionality I learn.
    I am a big fan of Angular and I am always looking for new ways to improve my skills.
</p>
<p>
    What I hope you will find here is a good example of how to use Angular in a real world application.
    Look at the architecture and let me know what you think.
    Feel free to fork and enjoy Angular with me.
</p>
<p>
    This project is a simple book collection app. You can add books to your collection and see how Angular works.
</p>
<p>
    There is also a bowling game app which requires the Bowling API to be running.
</p>