<section>
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Player</mat-label>
        <input matInput
               placeholder="Bowler Full Name"
               (keypress)="keypressed($event)"
               [(ngModel)]="playerName" />
    </mat-form-field>
    <app-player-rating [ratings]="ratings"
                       (ratingChanged)="ratingChanged($event)"></app-player-rating>
    <button mat-raised-button
            color="accent"
            (click)="add()">
        <mat-icon>add</mat-icon>
        <label>Add Player</label>
    </button>
</section>