<div class="generator">
   <div class="generator-row">
      <app-fact-categories (categorySelected)="categorySelected($event)"></app-fact-categories>
      <app-actions></app-actions>
   </div>
   <div class="generator-column">
      @if(favoriteFacts().length === 0) {
      <app-title2>FACT</app-title2>
      @if(fact()) {
      <app-fact [fact]="fact()!"></app-fact>
      }
      @else {
      @if(!selectedCategory()) {
      @if(!isLoading()) {
      <p>Please select a catetory or get kicked in the head by Chuck Norris!</p>
      <p>He knows where you live!</p>
      <p>Or select "Get All Favorites" to see my favorites.</p>
      }
      }
      @else {
      Now select "Get Fact" or "From Favorites" to see an awesome fact about Chuck Norris!
      }
      }
      }
      @else {
      <app-title2>FACTS</app-title2>
      @for(fact of favoriteFacts(); track fact.id) {
      <app-fact [fact]="fact"></app-fact>
      }
      }
   </div>
   @if (isLoading()) {
   <app-loading></app-loading>
   }
</div>