<app-title>@if(author().length > 0){
   {{author()}} Books Collection}
   @else {
   Enter author's name to see their books!
   } </app-title>
<div class="filter">
   <app-author (authorChanged)="search()"></app-author>
   <button mat-button
           color="primary"
           (click)="search()">Search</button>
</div>
<div class="main">
   <div class="main-column">
      <div class="column-title">
         <app-title2>Available Books</app-title2>
      </div>

      <ng-container *ngIf="searching(); else bookview">
         <div class="spinner-container">
            <mat-spinner></mat-spinner>
            <p>Searching for books...</p>
         </div>
      </ng-container>

      <ng-template #bookview>
         <app-book-list icon="add_circle"
                        buttonColor="accent"
                        [books]="books()"
                        (bookClick)="onAdd($event)"></app-book-list>
      </ng-template>

   </div>
   <div class="main-divider">&nbsp;</div>
   <div class="main-column">
      <div class="column-title">
         <app-title2>My Collection</app-title2>
      </div>
      <app-book-list class="book-list"
                     icon="delete"
                     buttonColor="accent"
                     [books]="collection()"
                     (bookClick)="onRemove($event)"></app-book-list>
      <button mat-flat-button
              color="warn"
              style="width: 100%"
              (click)="onClear()">Clear Collection</button>
   </div>
</div>