@import "src/assets/styles/variables";

.main h2 {
   margin-top: 0;
}

.main {
   display: flex;
   gap: $gap;
   align-items: stretch;

   &-column {
      width: 50%;
   }

   &-divider {
      width: 2px;
      background-color: $color--white;
   }
}