@use "src/assets/styles/variables.scss" as vars;

table {
   padding: 0;
   border-spacing: 0;
}

td {
   border: 1px solid vars.$color--white;
   padding: vars.$gap * 0.5;
}

a {
   cursor: pointer;
}

.ngrx {
   display: table;

   &-row {
      display: table-row;
      align-items: flex-start;
      margin-bottom: vars.$gap;
   }

   &-col {
      display: table-cell;
      padding: vars.$gap * 0.5;
      border-bottom: 1px solid vars.$color--white;

      &--left {
         width: 70px;
      }
   }
}