<app-back-button></app-back-button>
<app-title2>NGRX State Management</app-title2>
<p>For full documentation on NGRX <a href="https://ngrx.io/"
      target="_blank"
      rel="noopener">click here</a>.</p>
<p>This section will talk about how I use NGRX in this application.<br>
   I break it down to the following 5 parts:
</p>
<div class="ngrx">
   <div class="ngrx-row">
      <div class="ngrx-col ngrx-col--left">
         <a (click)="openDialog('state')">State</a>
      </div>
      <div class="ngrx-col ngrx-col--right">
         This is where the information is stored for a given feature.
      </div>
   </div>
   <div class="ngrx-row">
      <div class="ngrx-col ngrx-col--left">
         Actions
      </div>
      <div class="ngrx-col ngrx-col--right">
         These are the actions that can be performed on the state.
      </div>
   </div>
   <div class="ngrx-row">
      <div class="ngrx-col ngrx-col--left">
         Effects
      </div>
      <div class="ngrx-col ngrx-col--right">
         I like to think of these as event handlers for performing actions on state data.<br>
         These are injectable classes which handle the actions that require more than just a simple state update.<br>
         When the action is complete they will trigger the appropriate action for the reducer to handle.
      </div>
   </div>
   <div class="ngrx-row">
      <div class="ngrx-col ngrx-col--left">
         Reducers
      </div>
      <div class="ngrx-col ngrx-col--right">
         I like to think of these as event handlers for updating the state.<br>
         These objects handle the actions which change the state.
      </div>
   </div>
   <div class="ngrx-row">
      <div class="ngrx-col ngrx-col--left">
         Selectors
      </div>
      <div class="ngrx-col ngrx-col--right">
         These are functions which return a
         <a href="https://en.wikipedia.org/wiki/Memoization"
            rel="noopener"
            target="_blank">memoized</a> selector containing a subset of the state.
      </div>
   </div>
</div>
<p>I also use a state service to expose the state to any component.</p>
<p>Currently the only feature which uses ngrx is the bowling feature. I have moved all other features to signals from
   Angular.</p>
<div>
   <app-title3>NGRX State</app-title3>
   <app-ngrx-canvas></app-ngrx-canvas>

</div>
<div>
   <app-title3>State Service</app-title3>
   <app-state-canvas> </app-state-canvas>
</div>