@use 'src/assets/styles/variables' as vars;

app-frame {
    display: flex;
    align-items: stretch;
}

.scorecard {
    display: flex;
    align-items: stretch;
}

.player,
.score {
    border: 1px solid yellow;
}

.player {
    padding: vars.$gap * 0.25;
    width: vars.$player-width;
}

.frames {
    display: flex;
    align-items: stretch;
}

.score {
    width: vars.$frame-width;
    display: flex;
    align-items: center;
    justify-content: center;
}