@use "./assets/styles/variables" as vars;
@forward "node_modules/@angular/material/prebuilt-themes/purple-green.css";
@forward "./assets/styles/material";

* {
   font-family: vars.$font-family;
   line-height: vars.$line-height;
}

body {
   background-color: vars.$color--dark;
   color: vars.$color--white;
   height: 100vh;
   margin: 0;
}

a,
a:visited {
   color: vars.$color--blue;
}

.button--full-width {
   width: 100%;
}

.mat-primary:is(button):not(.mdc-button--unelevated) {
   color: vars.$color--primary !important;
}