@import "./assets/styles/variables";

* {
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: blue;
}

.main h2 {
  margin-top: 0;
}

.main {
  display: flex;
  gap: $gap;
  &-column {
    padding: $gap;
  }
  &-divider {
    width: 2px;
    background-color: black;
  }
}

.menu {
  display: flex;
  gap: $gap;
}
