@import "./assets/styles/variables";
@import "node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import "./assets/styles/material";

* {
   font-family: $font-family;
}

* {
   line-height: $line-height;
}

body {
   background-color: $color--dark;
   color: $color--white;
   height: 100vh;
   margin: 0;
}

a,
a:visited {
   color: $color--blue;
}

.button--full-width {
   width: 100%;
}

.mat-primary:is(button):not(.mdc-button--unelevated) {
   color: $color--primary !important;
}