@import "src/assets/styles/variables";

.book {
   display: flex;
   gap: $gap;
   padding: $gap * 0.5;
   align-items: center;
   justify-content: space-between;

   &-highlight {
      background-color: $color--highlight;
   }
}