@use "src/assets/styles/variables" as vars;

.book {
   display: flex;
   gap: vars.$gap;
   padding: vars.$gap * 0.5;
   align-items: center;
   justify-content: space-between;

   &-highlight {
      background-color: vars.$color--highlight;
   }
}