@use '@angular/material' as mat;
@use 'src/assets/styles/variables' as vars;
@forward 'node_modules/@angular/material/prebuilt-themes/azure-blue.css';
@forward 'node_modules/@angular/material/prebuilt-themes/rose-red.css';
$primary: mat.$azure-palette;
$tertiary: mat.$blue-palette;


.light {
    @include mat.theme((color: (theme-type: light,
                primary: $primary,
                tertiary: $tertiary,
            ),
            typography: (plain-family: Roboto,
                brand-family: Arial,
                bold-weight: 900,
                medium-weight: 500,
                regular-weight: 300,
            ),
            density: (scale: 0),
        ));
}

.dark {
    @include mat.theme((color: (theme-type: dark,
                primary: $primary,
                tertiary: $tertiary,
            ),
            typography: (plain-family: Roboto,
                brand-family: Arial,
                bold-weight: 900,
                medium-weight: 500,
                regular-weight: 300,
            ),
            density: (scale: 0),
        ));
}