$gap: 16px;
$color--white: rgb(218, 218, 218);
$color--blue: rgb(64, 156, 218);
$color--dark: rgb(49, 49, 49);
$color--yellow: rgb(241, 241, 158);
$color--primary: #cc7fcb;
$color--accent: #8bda95;
$color--warn: #eb9595;
