@use 'functions' as func;
@use 'sass:color';

$gap: 16px;
$padding: 8px;
$color--yellow: #f3ea9d;
$color--white: var(--mat-sys-on-primary);
$color--blue: var(--mat-sys-primary);
$color--blue-dark: var(--mat-sys-on-primary);
$color--accent: var(--mat-sys-on-accent);
$color--warn: var(--mat-sys-error);
$color--warn-on: var(--mat-sys-on-error);
$color--highlight: var(--mat-sys-on-accent);
$player-width: 150px;
$frame-width: $gap * 3.5;

$font-family: Roboto, Arial;
$line-height: #{func.to-string($gap * 1.25)};

$title-margin-offset: 5px;
$title-margin-block: 20px;
$title2-margin-block: $title-margin-block - $title-margin-offset;
$title3-margin-block: $title2-margin-block - $title-margin-offset;
$title4-margin-block: $title3-margin-block - $title-margin-offset;

$margin: 5px;