@use 'src/assets/styles/variables' as vars;

.player {
    display: flex;
    align-items: center;
    gap: vars.$gap;

    &-container {
        padding: vars.$gap;
    }
}

mat-icon {
    cursor: pointer;
}