@use "sass:color";
@use 'src/assets/styles/variables.scss' as vars;

.function-pad {
    &-button {
        background-color: vars.$color--yellow;
        color: vars.$color--blue;
        height: 100%;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
        font-size: 24px;

        &:not(.disabled) {
            cursor: pointer;
        }

        &:hover:not(.disabled) {
            background-color: color.adjust(vars.$color--blue, $lightness: -10%);
        }
    }
}